In [1]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
# mettiamo il dataframe dentro la variabile df
df = pd.read_csv('Test_NoOutliers.csv', sep=';')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       180 non-null    float64
 1   Attrition                 200 non-null    object
 2   BusinessTravel            186 non-null    object
 3   DailyRate                 200 non-null    int64
 4   Department                200 non-null    object
 5   DistanceFromHome          200 non-null    int64
 6   Education                 200 non-null    int64
 7   EducationField            200 non-null    object
 8   EnvironmentSatisfaction   200 non-null    int64
 9   Gender                    192 non-null    object
 10  HourlyRate                200 non-null    int64
 11  JobInvolvement            200 non-null    int64
 12  JobLevel                  200 non-null    int64
 13  JobRole                   200 non-null    object
 14  JobSatisfaction           200 non-null    int64
 15  MaritalStatus             200 non-null    object
 16  MonthlyIncome             147 non-null    float64
 17  MonthlyRate               200 non-null    int64
 18  NumCompaniesWorked        200 non-null    int64
 19  Over18                    136 non-null    object
 20  OverTime                  200 non-null    object
 21  PercentSalaryHike         200 non-null    int64
 22  PerformanceRating         178 non-null    float64
 23  RelationshipSatisfaction  200 non-null    int64
 24  StandardHours             101 non-null    float64
 25  StockOptionLevel          200 non-null    int64
 26  TotalWorkingYears         200 non-null    int64
 27  TrainingTimesLastYear     155 non-null    float64
 28  WorkLifeBalance           200 non-null    int64
 29  YearsAtCompany            190 non-null    float64
 30  YearsInCurrentRole        200 non-null    int64
 31  YearsSinceLastPromotion   200 non-null    int64
 32  YearsWithCurrManager      200 non-null    int64
dtypes: float64(6), int64(18), object(9)
memory usage: 51.7+ KB

In [5]:
i=0
for record in df['Age']:
    if record > 58:
        i+=1
i

1

In [6]:
i=0
for record in df['MonthlyIncome']:
    if record > 17000:
        i+=1
i

18

In [7]:
i=0
for record in df['TotalWorkingYears']:
    if record > 28:
        i+=1
i

14

In [8]:
i=0
for record in df['TrainingTimesLastYear']:
    if record >= 5:
        i+=1
i

36

In [9]:
i=0
for record in df['YearsAtCompany']:
    if record >= 18:
        i+=1
i

23

In [10]:
i=0
for record in df['NumCompaniesWorked']:
    if record > 8:
        i+=1
i

12

In [11]:
i=0
for record in df['YearsSinceLastPromotion']:
    if record > 7:
        i+=1
i

22

In [12]:
i=0
for record in df['YearsWithCurrManager']:
    if record > 13:
        i+=1
i

3

In [13]:
i=0
for record in df['YearsInCurrentRole']:
    if record > 14:
        i+=1
i

4

missing values

In [36]:
df["Age"].fillna(df["Age"].mean(), inplace=True)

In [37]:
i = 0
for record in df['BusinessTravel']:
    if not pd.notnull(record):
        df.at[i, 'BusinessTravel'] = "Travel_Rarely"
    i += 1
df['BusinessTravel'].isnull().sum()

0

In [38]:
i = 0
for record in df['YearsAtCompany']:
    if not pd.notnull(record):
        if df.at[i,'Age'] < 21:
            df.at[i, 'YearsAtCompany']= 1
        elif df.at[i,'Age'] < 31:
            df.at[i, 'YearsAtCompany']= 3
        elif df.at[i,'Age'] < 41:
            df.at[i, 'YearsAtCompany']= 10
        elif df.at[i,'Age'] < 51:
            df.at[i, 'YearsAtCompany']= 8
        elif df.at[i,'Age'] < 61:
            df.at[i, 'YearsAtCompany']= 10
    i += 1
    
df['YearsAtCompany'].isnull().sum()

0

In [39]:
i=0
X = df.values
for record in df['MonthlyIncome']:
    if not pd.notnull(record):
        record = 391.4 * X[i, 29] + 3763.8
        df.at[i, 'MonthlyIncome'] = record
    i += 1

df['MonthlyIncome'].isnull().sum()

0

In [40]:
i = 0
for record in df['TrainingTimesLastYear']:
    if not pd.notnull(record):
        if df.at[i, 'Department'] == "Human Resources":
            df.at[i, 'TrainingTimesLastYear'] = 3.0
        elif df.at[i, 'Department'] == "Research & Development":
            df.at[i, 'TrainingTimesLastYear'] = 2.0
        elif df.at[i, 'Department'] == "Sales":
            df.at[i, 'TrainingTimesLastYear'] = 2.0
    i += 1
df['TrainingTimesLastYear'].isnull().sum()

0

In [41]:
i = 0
for record in df['Gender']:
    if not pd.notnull(record):
        df.at[i, 'Gender'] = "ND"
    i += 1
df['Gender'].isnull().sum()

0

In [42]:
i =0
contand=0
for nd in df['Gender']:
    if nd == 'ND':
        contand+=1
        if contand < 32:
            nd = df.at[i,'Gender']='Male'
        elif contand >=32:
            nd = df.at[i,'Gender']='Female'
    i+=1

In [43]:
df.isnull().sum()

Age                          0
Attrition                    0
BusinessTravel               0
DailyRate                    0
Department                   0
DistanceFromHome             0
Education                    0
EducationField               0
EnvironmentSatisfaction      0
Gender                       0
HourlyRate                   0
JobInvolvement               0
JobLevel                     0
JobRole                      0
JobSatisfaction              0
MaritalStatus                0
MonthlyIncome                0
MonthlyRate                  0
NumCompaniesWorked           0
Over18                      64
OverTime                     0
PercentSalaryHike            0
PerformanceRating           22
RelationshipSatisfaction     0
StandardHours               99
StockOptionLevel             0
TotalWorkingYears            0
TrainingTimesLastYear        0
WorkLifeBalance              0
YearsAtCompany               0
YearsInCurrentRole           0
YearsSinceLastPromotion      0
YearsWithCurrManager         0
dtype: int64

In [44]:
i = 0
for record in df['Age']:
    if record < (df.at[i, 'TotalWorkingYears'] + 18):
        df.at[i, 'TotalWorkingYears'] = record - 18
    i += 1

# ------------------------------------------------------------------------------------
i = 0
for record in df['YearsAtCompany']:
    if record > df.at[i, 'TotalWorkingYears'] and df.at[i, 'NumCompaniesWorked'] == 0:
        sostituzione = df.at[i, 'TotalWorkingYears']
        df.at[i, 'YearsAtCompany'] = sostituzione
    i += 1

i = 0
for record in df['YearsAtCompany']:
    if record > df.at[i, 'TotalWorkingYears'] and df.at[i, 'NumCompaniesWorked'] != 0:
        sostituzione = df.at[i, 'TotalWorkingYears']
        df.at[i, 'YearsAtCompany'] = sostituzione
        df.at[i, 'NumCompaniesWorked'] = 0
    i += 1
# ------------------------------------------------------------------------------------    
i = 0
for record in df['YearsWithCurrManager']:
    if record > df.at[i, 'YearsAtCompany']:
        sostituzione = df.at[i, 'YearsAtCompany']
        df.at[i, 'YearsWithCurrManager'] = sostituzione
    i += 1
    
i = 0
for record in df['YearsSinceLastPromotion']:
    if record > df.at[i, 'YearsAtCompany']:
        sostituzione = df.at[i, 'YearsAtCompany']
        df.at[i, 'YearsSinceLastPromotion'] = sostituzione
    i += 1
    
i = 0
for record in df['YearsInCurrentRole']:
    if record > df.at[i, 'YearsAtCompany']:
        sostituzione = df.at[i, 'YearsAtCompany']
        df.at[i, 'YearsInCurrentRole'] = sostituzione
    i += 1

In [45]:
df.to_csv('Test_NoOut_ConErroriSemantici.csv', index=False)