## DATASET con outliers e con errori semantici
Abbiamo solo:
- Ripripristinato i missing values per consentire la trasformazione da float ad int
- Binarizzato tutte le variabili ad eccezione di Attrition

In [1]:
# to show an image automatically within the browser without using show()
%matplotlib inline 

import math
import numpy as np # for working with arrays
import pandas as pd # for working with tables
import scipy.stats as stats
import matplotlib.pyplot as plt # for visualization (creating plots)

In [2]:
# mettiamo il dataframe dentro la variabile df
df = pd.read_csv('Test_HR_Employee_Attrition.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       258 non-null    float64
 1   Attrition                 294 non-null    object
 2   BusinessTravel            270 non-null    object
 3   DailyRate                 294 non-null    int64
 4   Department                294 non-null    object
 5   DistanceFromHome          294 non-null    int64
 6   Education                 294 non-null    int64
 7   EducationField            294 non-null    object
 8   EnvironmentSatisfaction   294 non-null    int64
 9   Gender                    278 non-null    object
 10  HourlyRate                294 non-null    int64
 11  JobInvolvement            294 non-null    int64
 12  JobLevel                  294 non-null    int64
 13  JobRole                   294 non-null    object
 14  JobSatisfaction           294 non-null    int64
 15  MaritalStatus             294 non-null    object
 16  MonthlyIncome             227 non-null    float64
 17  MonthlyRate               294 non-null    int64
 18  NumCompaniesWorked        294 non-null    int64
 19  Over18                    198 non-null    object
 20  OverTime                  294 non-null    object
 21  PercentSalaryHike         294 non-null    int64
 22  PerformanceRating         260 non-null    float64
 23  RelationshipSatisfaction  294 non-null    int64
 24  StandardHours             147 non-null    float64
 25  StockOptionLevel          294 non-null    int64
 26  TotalWorkingYears         294 non-null    int64
 27  TrainingTimesLastYear     235 non-null    float64
 28  WorkLifeBalance           294 non-null    int64
 29  YearsAtCompany            280 non-null    float64
 30  YearsInCurrentRole        294 non-null    int64
 31  YearsSinceLastPromotion   294 non-null    int64
 32  YearsWithCurrManager      294 non-null    int64
dtypes: float64(6), int64(18), object(9)
memory usage: 75.9+ KB

In [4]:
# quanti valori mancanti ci sono per ogni colonna?
df.isnull().sum()

Age                          36
Attrition                     0
BusinessTravel               24
DailyRate                     0
Department                    0
DistanceFromHome              0
Education                     0
EducationField                0
EnvironmentSatisfaction       0
Gender                       16
HourlyRate                    0
JobInvolvement                0
JobLevel                      0
JobRole                       0
JobSatisfaction               0
MaritalStatus                 0
MonthlyIncome                67
MonthlyRate                   0
NumCompaniesWorked            0
Over18                       96
OverTime                      0
PercentSalaryHike             0
PerformanceRating            34
RelationshipSatisfaction      0
StandardHours               147
StockOptionLevel              0
TotalWorkingYears             0
TrainingTimesLastYear        59
WorkLifeBalance               0
YearsAtCompany               14
YearsInCurrentRole            0
YearsSinceLastPromotion       0
YearsWithCurrManager          0
dtype: int64

In [5]:
df.corr()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.050883,0.041333,0.016237,0.007694,-0.005546,-0.018802,-0.015713,-0.070178,0.599610,...,0.007608,NaN,0.068957,-0.020463,-0.022409,0.046623,0.264033,-0.014739,0.001512,-0.025627
DailyRate,-0.050883,1.000000,-0.085510,-0.023623,-0.099819,0.086804,0.031158,0.051584,-0.025681,0.056841,...,0.030283,NaN,0.050244,0.012506,-0.002550,-0.003025,0.011632,0.033694,-0.034150,-0.075487
DistanceFromHome,0.041333,-0.085510,1.000000,0.020364,-0.082358,0.006145,0.085385,-0.044624,-0.035249,0.002016,...,-0.022620,NaN,-0.065619,-0.009385,0.051397,-0.025151,-0.062184,0.037397,0.029293,0.046152
Education,0.016237,-0.023623,0.020364,1.000000,0.073383,0.063112,0.057966,0.135128,0.074762,-0.007773,...,-0.069158,NaN,0.077352,0.161699,0.030506,-0.056934,0.064226,0.082967,0.132988,0.076276
EnvironmentSatisfaction,0.007694,-0.099819,-0.082358,0.073383,1.000000,-0.071132,-0.008588,-0.123126,0.026437,0.118768,...,-0.031469,NaN,-0.065538,-0.130561,0.053270,-0.001430,0.036188,-0.034149,-0.058702,-0.086837
HourlyRate,-0.005546,0.086804,0.006145,0.063112,-0.071132,1.000000,0.080843,0.038063,0.006727,-0.000248,...,-0.007236,NaN,0.148801,0.068170,-0.011123,0.039950,-0.009958,-0.004787,0.020604,0.003192
JobInvolvement,-0.018802,0.031158,0.085385,0.057966,-0.008588,0.080843,1.000000,0.028701,-0.001487,0.075722,...,-0.053914,NaN,-0.063571,0.067611,0.051382,0.037059,-0.041823,0.036764,0.008285,0.041226
JobLevel,-0.015713,0.051584,-0.044624,0.135128,-0.123126,0.038063,0.028701,1.000000,0.001255,-0.002193,...,0.128613,NaN,0.042979,0.806010,0.005795,0.055385,0.150630,0.346354,0.372920,0.322504
JobSatisfaction,-0.070178,-0.025681,-0.035249,0.074762,0.026437,0.006727,-0.001487,0.001255,1.000000,-0.091783,...,0.032319,NaN,0.094052,-0.014736,0.129749,0.027933,-0.016082,-0.029334,0.039949,-0.008994
MonthlyIncome,0.599610,0.056841,0.002016,-0.007773,0.118768,-0.000248,0.075722,-0.002193,-0.091783,1.000000,...,-0.044848,NaN,-0.000568,0.000028,0.035376,0.073899,0.412817,0.017813,0.031094,0.030738
MonthlyRate,0.108948,-0.034422,0.105029,-0.051323,0.015030,-0.039343,-0.028347,-0.031492,-0.051731,-0.014169,...,-0.105149,NaN,0.022576,-0.021316,-0.015082,0.025335,-0.063305,-0.009496,-0.090432,-0.073330
NumCompaniesWorked,-0.039316,0.013395,-0.078550,0.057382,0.010907,-0.004856,0.009574,0.140295,-0.029595,-0.044539,...,0.046076,NaN,0.086972,0.182024,0.050724,-0.003802,0.062427,-0.159310,-0.021011,-0.167787
PercentSalaryHike,0.015108,-0.112309,0.224062,-0.001473,-0.008469,-0.033942,-0.061788,-0.070246,0.059077,-0.034921,...,-0.138622,NaN,-0.093055,-0.055646,0.101345,0.018896,0.000353,0.102844,0.026966,0.097753
PerformanceRating,-0.006219,0.078274,-0.130865,-0.022255,-0.049356,-0.048442,-0.015900,-0.012564,0.039328,0.016706,...,0.070312,NaN,0.017406,0.015504,0.047242,-0.004580,-0.009379,-0.092834,0.065166,-0.019179
RelationshipSatisfaction,0.007608,0.030283,-0.022620,-0.069158,-0.031469,-0.007236,-0.053914,0.128613,0.032319,-0.044848,...,1.000000,NaN,0.038823,0.130274,0.012012,-0.060526,0.030462,0.029124,0.118136,0.067416
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,0.068957,0.050244,-0.065619,0.077352,-0.065538,0.148801,-0.063571,0.042979,0.094052,-0.000568,...,0.038823,NaN,1.000000,0.018036,-0.108772,0.003137,0.000962,0.033323,-0.052262,-0.007179
TotalWorkingYears,-0.020463,0.012506,-0.009385,0.161699,-0.130561,0.068170,0.067611,0.806010,-0.014736,0.000028,...,0.130274,NaN,0.018036,1.000000,0.019902,0.065014,0.119133,0.395237,0.407622,0.355176
TrainingTimesLastYear,-0.022409,-0.002550,0.051397,0.030506,0.053270,-0.011123,0.051382,0.005795,0.129749,0.035376,...,0.012012,NaN,-0.108772,0.019902,1.000000,-0.059633,0.085104,0.020390,0.060694,-0.095966
WorkLifeBalance,0.046623,-0.003025,-0.025151,-0.056934,-0.001430,0.039950,0.037059,0.055385,0.027933,0.073899,...,-0.060526,NaN,0.003137,0.065014,-0.059633,1.000000,0.040431,0.065543,0.008863,0.006731
YearsAtCompany,0.264033,0.011632,-0.062184,0.064226,0.036188,-0.009958,-0.041823,0.150630,-0.016082,0.412817,...,0.030462,NaN,0.000962,0.119133,0.085104,0.040431,1.000000,0.050595,0.076483,0.096775
YearsInCurrentRole,-0.014739,0.033694,0.037397,0.082967,-0.034149,-0.004787,0.036764,0.346354,-0.029334,0.017813,...,0.029124,NaN,0.033323,0.395237,0.020390,0.065543,0.050595,1.000000,0.476330,0.730147
YearsSinceLastPromotion,0.001512,-0.034150,0.029293,0.132988,-0.058702,0.020604,0.008285,0.372920,0.039949,0.031094,...,0.118136,NaN,-0.052262,0.407622,0.060694,0.008863,0.076483,0.476330,1.000000,0.490401
YearsWithCurrManager,-0.025627,-0.075487,0.046152,0.076276,-0.086837,0.003192,0.041226,0.322504,-0.008994,0.030738,...,0.067416,NaN,-0.007179,0.355176,-0.095966,0.006731,0.096775,0.730147,0.490401,1.000000

Non tocchiamo gli outliers.

### Missing values

In [6]:
# AGE: sostituiamo con la media
df["Age"].fillna(df["Age"].mean(), inplace=True)

In [7]:
# BUSINESS TRAVEL: sostituiamo con il valore più frequente (moda = Travel_Rarely)
i = 0
for record in df['BusinessTravel']:
    if not pd.notnull(record):
        df.at[i, 'BusinessTravel'] = "Travel_Rarely"
    i += 1

In [8]:
# GENDER: sostituiamo i valori mancanti con ND (Not Defined)
i = 0
for record in df['Gender']:
    if not pd.notnull(record):
        df.at[i, 'Gender'] = "ND"
    i += 1

In [9]:
# TRAINING TIME LAST YEARS: abbiamo raggruppato per Departement e riempito i missing values con la moda (valore più frequente) di ogni gruppo
i = 0
for record in df['TrainingTimesLastYear']:
    if not pd.notnull(record):
        if df.at[i, 'Department'] == "Human Resources":
            df.at[i, 'TrainingTimesLastYear'] = 3.0
        elif df.at[i, 'Department'] == "Research & Development":
            df.at[i, 'TrainingTimesLastYear'] = 2.0
        elif df.at[i, 'Department'] == "Sales":
            df.at[i, 'TrainingTimesLastYear'] = 2.0
    i += 1

In [10]:
# YEARS AT COMPANY: abbiamo creato 5 gruppi a seconda di Age e sostituiamo con la media di ogni gruppo
i = 0
for record in df['YearsAtCompany']:
    if not pd.notnull(record):
        if df.at[i,'Age'] < 21:
            df.at[i, 'YearsAtCompany']= 1
        elif df.at[i,'Age'] < 31:
            df.at[i, 'YearsAtCompany']= 3
        elif df.at[i,'Age'] < 41:
            df.at[i, 'YearsAtCompany']= 10
        elif df.at[i,'Age'] < 51:
            df.at[i, 'YearsAtCompany']= 8
        elif df.at[i,'Age'] < 61:
            df.at[i, 'YearsAtCompany']= 10
    i += 1

In [11]:
# MONTHLY INCOME: abbiamo fatto regressione con YearsAtCompany
i=0
X = df.values # mettiamo i valori in un numphy array per recuperarli più agevolmente
for record in df['MonthlyIncome']:
    if not pd.notnull(record):
        record = 391.4 * X[i, 29] + 3763.8
        df.at[i, 'MonthlyIncome'] = record
    i += 1

In [12]:
# vediamo se ci sono ancora missing values
df.isnull().sum()

Age                           0
Attrition                     0
BusinessTravel                0
DailyRate                     0
Department                    0
DistanceFromHome              0
Education                     0
EducationField                0
EnvironmentSatisfaction       0
Gender                        0
HourlyRate                    0
JobInvolvement                0
JobLevel                      0
JobRole                       0
JobSatisfaction               0
MaritalStatus                 0
MonthlyIncome                 0
MonthlyRate                   0
NumCompaniesWorked            0
Over18                       96
OverTime                      0
PercentSalaryHike             0
PerformanceRating            34
RelationshipSatisfaction      0
StandardHours               147
StockOptionLevel              0
TotalWorkingYears             0
TrainingTimesLastYear         0
WorkLifeBalance               0
YearsAtCompany                0
YearsInCurrentRole            0
YearsSinceLastPromotion       0
YearsWithCurrManager          0
dtype: int64

### Sistemiamo  i formati

In [13]:
df['Age']= df['Age'].astype('int32')

In [14]:
df['MonthlyIncome'] = df['MonthlyIncome'].astype('int32')

In [15]:
df['JobLevel'] = df['JobLevel'].astype('int32')

In [16]:
df['DailyRate'] = df['DailyRate'].astype('int32')

In [17]:
df['DistanceFromHome'] = df['DistanceFromHome'].astype('int32')

In [18]:
df['Education'] = df['Education'].astype('int32')

In [19]:
df['EnvironmentSatisfaction'] = df['EnvironmentSatisfaction'].astype('int32')

In [20]:
df['HourlyRate'] = df['HourlyRate'].astype('int32')

In [21]:
df['JobInvolvement'] = df['JobInvolvement'].astype('int32')

In [22]:
df['JobLevel'] = df['JobLevel'].astype('int32')

In [23]:
df['JobSatisfaction'] = df['JobSatisfaction'].astype('int32')

In [24]:
df['MonthlyRate'] = df['MonthlyRate'].astype('int32')

In [25]:
df['NumCompaniesWorked'] = df['NumCompaniesWorked'].astype('int32')

In [26]:
df['PercentSalaryHike'] = df['PercentSalaryHike'].astype('int32')

In [27]:
df['RelationshipSatisfaction'] = df['RelationshipSatisfaction'].astype('int32')

In [28]:
df['StockOptionLevel'] = df['StockOptionLevel'].astype('int32')

In [29]:
df['TotalWorkingYears'] = df['TotalWorkingYears'].astype('int32')

In [30]:
df['WorkLifeBalance'] = df['WorkLifeBalance'].astype('int32')

In [31]:
df['YearsInCurrentRole'] = df['YearsInCurrentRole'].astype('int32')

In [32]:
df['YearsSinceLastPromotion'] = df['YearsSinceLastPromotion'].astype('int32')

In [33]:
df['YearsWithCurrManager'] = df['YearsWithCurrManager'].astype('int32')

In [34]:
df['TrainingTimesLastYear'] = df['TrainingTimesLastYear'].astype('int32')

In [35]:
df['YearsAtCompany'] = df['YearsAtCompany'].astype('int32')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       294 non-null    int32
 1   Attrition                 294 non-null    object
 2   BusinessTravel            294 non-null    object
 3   DailyRate                 294 non-null    int32
 4   Department                294 non-null    object
 5   DistanceFromHome          294 non-null    int32
 6   Education                 294 non-null    int32
 7   EducationField            294 non-null    object
 8   EnvironmentSatisfaction   294 non-null    int32
 9   Gender                    294 non-null    object
 10  HourlyRate                294 non-null    int32
 11  JobInvolvement            294 non-null    int32
 12  JobLevel                  294 non-null    int32
 13  JobRole                   294 non-null    object
 14  JobSatisfaction           294 non-null    int32
 15  MaritalStatus             294 non-null    object
 16  MonthlyIncome             294 non-null    int32
 17  MonthlyRate               294 non-null    int32
 18  NumCompaniesWorked        294 non-null    int32
 19  Over18                    198 non-null    object
 20  OverTime                  294 non-null    object
 21  PercentSalaryHike         294 non-null    int32
 22  PerformanceRating         260 non-null    float64
 23  RelationshipSatisfaction  294 non-null    int32
 24  StandardHours             147 non-null    float64
 25  StockOptionLevel          294 non-null    int32
 26  TotalWorkingYears         294 non-null    int32
 27  TrainingTimesLastYear     294 non-null    int32
 28  WorkLifeBalance           294 non-null    int32
 29  YearsAtCompany            294 non-null    int32
 30  YearsInCurrentRole        294 non-null    int32
 31  YearsSinceLastPromotion   294 non-null    int32
 32  YearsWithCurrManager      294 non-null    int32
dtypes: float64(2), int32(22), object(9)
memory usage: 50.7+ KB

## Data Transformation

#### Sistemiamo i valori ND del Gender precedentemente modificati

In [37]:
i =0
contand=0
for nd in df['Gender']:
    if nd == 'ND':
        contand+=1
        if contand < 32:
            nd = df.at[i,'Gender']='Male'
        elif contand >=32:
            nd = df.at[i,'Gender']='Female'
    i+=1

In [38]:
for record in df['Gender']:
    if record =='ND':
        print('errore')
    else:
        print('ok')

ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok
ok

## BINARIZZAZIONE

In [39]:
# 0 uomini
# 1 donne
i = 0
for record in df['Gender']:
    if record == "Male":
        df.at[i, 'Gender'] = "0"
    elif record == "Female":
        df.at[i, 'Gender'] = "1"
    i += 1

df['Gender']

0      0
1      0
2      0
3      0
4      0
      ..
289    0
290    0
291    0
292    0
293    1
Name: Gender, Length: 294, dtype: object

In [40]:
# trasformiamo il dtype perchè dopo binarizzazione
# dtype = object e ci darebbe errori per fare 
# correlazione con altre variabli numeriche
df['Gender'] = df['Gender'].astype('int32')

In [41]:
# 0 no
# 1 yes
i = 0
for record in df['OverTime']:
    if record == "No":
        df.at[i, 'OverTime'] = "0"
    elif record == "Yes":
        df.at[i, 'OverTime'] = "1"
    i += 1

df['OverTime']

0      1
1      0
2      0
3      0
4      0
      ..
289    0
290    0
291    0
292    1
293    0
Name: OverTime, Length: 294, dtype: object

In [42]:
# trasformiamo il dtype perchè dopo binarizzazione
# dtype = object e ci darebbe errori per fare 
# correlazione con altre variabli numeriche
df['OverTime'] = df['OverTime'].astype('int32')

# Aggiunta di Stagnation

In [43]:
# Stagnation
array_stagnation = []
i = 0
for record in df['YearsSinceLastPromotion']:
    stagnation = record * df.at[i, 'YearsInCurrentRole']
    array_stagnation.append(stagnation)
    i += 1
    
mdf_df = df.assign(Stagnation = array_stagnation)

# Eliminazione variabili ridondanti

In [44]:
mdf_df = mdf_df.drop(columns =['DailyRate', 'MonthlyRate', 'HourlyRate','Over18', 'StandardHours', 'PerformanceRating', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'JobLevel'])

In [45]:
mdf_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       294 non-null    int32
 1   Attrition                 294 non-null    object
 2   BusinessTravel            294 non-null    object
 3   Department                294 non-null    object
 4   DistanceFromHome          294 non-null    int32
 5   Education                 294 non-null    int32
 6   EducationField            294 non-null    object
 7   EnvironmentSatisfaction   294 non-null    int32
 8   Gender                    294 non-null    int32
 9   JobInvolvement            294 non-null    int32
 10  JobRole                   294 non-null    object
 11  JobSatisfaction           294 non-null    int32
 12  MaritalStatus             294 non-null    object
 13  MonthlyIncome             294 non-null    int32
 14  NumCompaniesWorked        294 non-null    int32
 15  OverTime                  294 non-null    int32
 16  PercentSalaryHike         294 non-null    int32
 17  RelationshipSatisfaction  294 non-null    int32
 18  StockOptionLevel          294 non-null    int32
 19  TotalWorkingYears         294 non-null    int32
 20  TrainingTimesLastYear     294 non-null    int32
 21  WorkLifeBalance           294 non-null    int32
 22  YearsAtCompany            294 non-null    int32
 23  YearsWithCurrManager      294 non-null    int32
 24  Stagnation                294 non-null    int64
dtypes: int32(18), int64(1), object(6)
memory usage: 36.9+ KB

In [46]:
# salviamo df in un nuovo csv
mdf_df.to_csv('Test_pulito.csv', index=False)